name: Releases

on: 
  push:
    branches: [ main ]
    tags:
    - 'v*'

jobs:
  build:
    if: startsWith(github.ref, 'refs/tags/')
    name: Zip and release Asset
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Create artifact
        uses: montudor/action-zip@v1
        with:
          args: zip -X -r ${{ github.event.repository.name }}.${{GITHUB_REF}}.zip . -x *.git* 
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ github.event.repository.name }}.${{GITHUB_REF}}.zip
          asset_name: Zabbix-HyperV-Templates.${{GITHUB_REF}}.zip
          tag: ${{ github.ref }}
          overwrite: true
#          body: "This is my release text"
